.project {
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.projectImgContent {
  position: relative;
  width: 100%;
  height: 250px;

  img {
    border-radius: 1rem;
  }
}

.projectInfoContent {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  strong {
    font-size: 1.25rem;
    color: var(--title-color);
  }

  a {
    display: flex;
    align-items: center;
    color: var(--purple);

    @keyframes go-back {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(10px);
      }
    }

    &:hover {
        svg {
          animation: go-back 500ms infinite alternate;
        }
    }
  }
}
