.intoContainer {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end !important;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  h1 {
    font-size: 3rem;
  }

  span {
    color: 	var(--teal);
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

    a, button {
      font-weight: 500;
      padding: 0.75rem;
      border-radius: 0.5rem;
    }

    button {
      background: transparent;
      border: 1px solid var(--purple);
      color: var(--purple);

      transition: all 200ms ease-in-out;

      &:hover {
        background: var(--purple);
        color: var(--background-color);
      }
    }

    a {
      cursor: pointer;
      background: var(--purple);
      color: var(--background-color);
    }
  }
}


.imgContainer {
  position: relative;
  width: 100%;
}

.box {
  padding: 1rem 2rem;
  background-color: var(--purple);
  border-radius: 2rem;
  position: absolute;

  font-weight: 600;
  color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.react {
  top: 0;
  left: 0;
}

.javascript {
  top: 0;
  right: 0;
}

.css {
  bottom: 5rem;
  right: 0;
}

.html {
  bottom: 5rem;
  left: 0;
}

.imgContent {
  position: relative;
  width: 28.12rem;
  height: 28.12rem;
  margin: 0 auto;

  border-top-left-radius: 40%;
  border-top-right-radius: 40%;

  font-size: 0;

  background-image: linear-gradient(to bottom, var(--purple) , transparent);
}

@media (max-width: 1024px) {
  .box {
    display: none;
  }
}

@media (max-width: 425px) {
  .info {
    h1 {
      font-size: 2.5rem;
    }
  }

  .imgContent {
    width: 22rem;
    // height: 22rem;
  }
}

@media (max-width: 375px) {
  .info {
    h1 {
      font-size: 2.25rem;
    }
  }

  .imgContent {
    width: 21rem;
    // height: 21rem;
  }
}

@media (max-height: 568px) {
  .info {
    margin-bottom: 2rem;
  }

  .imgContent {
    height: 19rem;
  }
}


