.portfolioContainer {
  margin-bottom: 5rem;

  h1, span {
    text-align: center;
  }

  span {
    display: block;
    color: var(--text-color-light);
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 6rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}


