.mainContainer {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;

  >section {
    & + section {
      padding-top: 8rem;
    }

    &:last-child {
      padding-bottom: 8rem;
    }
  }
}
