.box {
  padding: 1rem 2rem;
  background-color: var(--purple);
  border-radius: 2rem;
  position: absolute;

  font-weight: 600;
  color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.leftTop {
  top: 0;
  left: 0;
}

.leftBottom {
  bottom: 5rem;
  left: 0;
}

.rightTop {
  top: 0;
  right: 0;
}

.rightBottom {
  bottom: 5rem;
  right: 0;
}

@media (max-width: 1024px) {
  .box {
    display: none;
  }
}


