.aboutContainer {
  // margin: 5rem 0;

  > h1,
  span {
    text-align: center;
  }

  > h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 6rem;
  }

  > span {
    display: block;
    color: var(--text-color-light);
  }
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 3rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.info {
  text-align: justify;
  margin-top: 1rem;
  color: var(--text-color);

  strong {
    margin-top: 1rem;
    display: block;

    font-size: 0.85rem;
    text-align: center;
  }
}

@media (max-width: 669px) {
  .infoContainer {
    gap: 2rem;
  }

  .info {
    text-align: center;
  }

  .aboutContent {
    gap: 5rem;
  }
}

@media (max-width: 375px) {
}
