.navContainer {
  z-index: 1;
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  padding: 1rem 3rem;

  background-color: var(--container-color-rgba);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  border-radius: 2rem;

  transition: all 200ms linear;

  &.hidden {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  a {
    font-size: 0;
    padding: 0.75rem;
    border-radius: 50%;


    &.active {
      background-image: radial-gradient(ellipse 200px 40px, var(--background-color), var(--purple));
    }
  }
}
