.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--container-color);
  border-radius: 0.5rem;

  svg {
    color: var(--purple);
  }

  strong {

    text-align: center;
    color: var(--title-color);
  }
}
